.socials-box {
  background-color: #FFFFFF;
  border-radius: 5px;
}

.address-header {
  font-family: 'Comfortaa', serif;
  font-size: 18px;
  font-weight: 700;
  color: #2A2522;
  margin-bottom: 10px !important;
}

.address-paragraph {
  font-family: 'Comfortaa', serif;
  font-size: 12px;
  font-weight: 400;
  color: #2A2522;
  margin-bottom: 10px !important;
}

.contact-number-paragraph {
  font-family: 'Comfortaa', serif;
  font-size: 22px;
  font-weight: 700;
  color: #2A2522;
  margin-bottom: 10px !important;
}

.mobile-app-paragraph {
  font-family: 'Comfortaa', serif;
  font-size: 14px;
  font-weight: 700;
  color: #2A2522;
  margin-bottom: 10px !important;
}

.phone-icon {
  margin-right: 10px;
}
