.pizza-component-header p {
  font-family: 'Comfortaa', serif;
  font-weight: 700;
  font-size: 55px;
  text-align: center;
}

.image-section {
  position: relative;
}

.discount-section {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
  padding-top: 15px;
}

.pizza-details-paragraph {
  font-size: 14px;
  color: #6B6B6B;
}

.pizza-details-pricing {
  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    color: #C80000;
    margin: 0;
  }

  span {
    color: black;
    margin: 0 0 0 5px;
    font-size: 11px;
  }
}

.counter-section {
  .amount {
    padding-inline: 10px;
    border: 1px solid black;
    border-radius: 6px;
  }

  .button {
    border: none;
    margin-inline: 5px;
    color: #C80000;
    font-size: 19px;
    font-weight: 600;
    padding-inline: 10px;
    background-color: transparent;
  }
}

.price-section {
  p {
    font-weight: 700;
  }

  span {
    font-weight: 700;
    top: -3px;
    position: relative;
  }
}

.pizza-weight {
  display: flex;
  align-items: center;

  span {
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin: 0;
  }

  p {
    font-size: 14px;
    font-weight: 700;
    color: #C80000;
    margin: 0;
  }
}

.pizza-sizing p {
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin: 0;
}

.order-button {
  background-color: #FFD600;
  padding-inline: 20px;
  padding-block: 5px;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 14px;
}
