<!DOCTYPE html>
<html lang="">
<head>
    <title>User Registration Confirmation</title>
</head>
<body>
    <h2>Dear Customer [@Model.Email],</h2>
    <p>Thank you for registering on our website!</p>
    
    <p>You can now log in using your credentials and explore our website.</p>
    
    <p>Thank you,<br />
    The Team</p>
</body>
</html>
