.description-header {
  font-family: 'Comfortaa', serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.description-paragraph {
  font-family: 'Comfortaa', serif;
  font-weight: 400;
  font-size: 16px;
}

.description-read-more {
  font-family: 'Comfortaa', serif;
  font-weight: 700;
  font-size: 16px;
  color: #C80000;
}

.left-banner-svg {
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 60px;
}

.right-banner-svg {
  position: absolute;
  right: 0;
  width: 200px;
  margin-top: 60px;
}