.form-input {
  padding-bottom: 10px;
  padding-top: 10px;
  background: transparent;
  border-radius: 0;
}

.form-input::placeholder {
  color: #000000;
  font-size: 14px;
  font-family: 'Comfortaa', serif;
  font-weight: 400;
}

.form-control:focus {
  box-shadow: none;
  background-color: transparent;
  border-color: #dee2e6;
}

